<!DOCTYPE html>
<html ng-app="demoApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" data-require="bootstrap-css@3.1.1" data-semver="3.1.1" />
</head>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Contact Cards</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">

                <div>
                  <pre>{{ascending}} {{ directionalSort }}</pre>
                  <div class="btn-group">
                    <label class="btn btn-primary" ng-model="sortField" ng-click="ascending = !ascending" ng-init="ascending = true" btn-radio="'address'">City
                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': !ascending, 'glyphicon-chevron-up': ascending}"></i>
                    </label>
                    <label class="btn btn-primary" ng-model="sortField" ng-click="ascending = !ascending" btn-radio="'firstname'">First Name
                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': !ascending, 'glyphicon-chevron-up': ascending}"></i>
                    </label>
                    <label class="btn btn-primary" ng-model="sortField" ng-click="ascending = !ascending" btn-radio="'lastname'">Last Name
                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': !ascending, 'glyphicon-chevron-up': ascending}"></i>
                    </label>
                </div>
            </div>
        </ul>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
            </div>
        </form>
    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>
<body ng-controller="demoController">
    <p>This lesson shows the use of the Angular Cloud Data Connector. It loads property information from Windows Azure Mobile Services.</p>
    <div ng-container>
        <div class="row">
            <div ng-repeat="person in people | filter:searchText | orderBy:directionalSort">
                <div class="col-sm-6 col-md-4 col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ person.firstname }} {{ person.lastname }}</div>
                        <div class="panel-body">{{ person.address1 }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.0.3.min.js" data-require="jquery@*" data-semver="2.0.3"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" data-require="bootstrap@3.1.1" data-semver="3.1.1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js" data-require="angular.js@1.2.17" data-semver="1.2.17"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.1.0.min.js"></script>
    <script src="https://angularclouddataconnector.azurewebsites.net/0.1/acdc.js" data-require="AngularCloudDataConnector@0.0.1" data-semver="0.0.1"></script>
    <script src="https://angularclouddataconnector.azurewebsites.net/0.1/azureDataService.js" data-require="AngularCloudDataConnector@0.0.1" data-semver="0.0.1"></script>
    <script>
        var app = angular.module('demoApp', ['DataModule', 'AzureDataModule', 'ui.bootstrap']);
        app.controller('demoController', ['$scope', 'dataService', 'azureDataService',
          function($scope, dataService, azureDataService) {
            $scope.greeting = "Hello Data!";
            azureDataService.addSource('https://angularpeople.azure-mobile.net/', 'DDJpBYxoQEUznagCnyYNRYfkDxpYyz90', ['people']);
            dataService.addSource(azureDataService);
            dataService.connect(function(results) {
              for (var result in results) {
                $scope.$apply($scope[result] = results[result]);
            }
        });

            $scope.sortField = 'firstname';

            $scope.ascending = false;

            $scope.$watch('sortField', function() {
                $scope.ascending = true;
            });

            $scope.$watch(function() {
              return $scope.sortField + $scope.ascending;
          }, function() {
             if ($scope.ascending) {
               $scope.directionalSort = '+'+$scope.sortField;
           } else {
               $scope.directionalSort = '-'+$scope.sortField;
           }
           
       })

        }

        ]);
</script>
</body>
</html>