<!DOCTYPE html>
<html ng-app="demoApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" data-require="bootstrap-css@3.1.1" data-semver="3.1.1" />
</head>

<body ng-controller="demoController">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Contact Cards</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">

                    <div>
                        <pre>{{ascending}} {{ directionalSort }}</pre>
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="sortField" ng-click="ascending[0] = !ascending[0]; currentColumn = 0" btn-radio="'address1'">
                                City
                                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': !ascending[0], 'glyphicon-chevron-up': ascending[0]}"></i>
                            </label>
                            <label class="btn btn-primary" ng-model="sortField" ng-click="ascending[1] = !ascending[1]; currentColumn = 1" btn-radio="'firstname'">
                                First Name
                                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': !ascending[1], 'glyphicon-chevron-up': ascending[1]}"></i>
                            </label>
                            <label class="btn btn-primary" ng-model="sortField" ng-click="ascending[2] = !ascending[2]; currentColumn = 2" btn-radio="'lastname'">
                                Last Name
                                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': !ascending[2], 'glyphicon-chevron-up': ascending[2]}"></i>
                            </label>
                        </div>
                    </div>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
                    </div>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <p>This lesson shows the use of the Angular Cloud Data Connector. It loads property information from Windows Azure Mobile Services.</p>
    <div ng-container>
        <div class="row">
            <div ng-repeat="person in people | filter:searchText | orderBy:directionalSort">
                <div class="col-sm-6 col-md-4 col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ person.firstname }} {{ person.lastname }}</div>
                        <div class="panel-body">{{ person.address1 }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="well form-horizontal">

        <legend>Add Person</legend>
        <input type="text" ng-model='newPerson.firstname' class="form-control" placeholder="First Name" />
        <input type="text" ng-model='newPerson.lastname' class="form-control" placeholder="Last Name" />
        <input type="text" ng-model='newPerson.address1' class="form-control" placeholder="Address" />

        <button class="btn btn-default" ng-click="add('people', newPerson)" onClick="alert('New person added!')">Add</button>

    </div>

    <script src="https://code.jquery.com/jquery-2.0.3.min.js" data-require="jquery@*" data-semver="2.0.3"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" data-require="bootstrap@3.1.1" data-semver="3.1.1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js" data-require="angular.js@1.2.17" data-semver="1.2.17"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.1.0.min.js"></script>
    <script src="https://angularclouddataconnector.azurewebsites.net/0.1/acdc.js" data-require="AngularCloudDataConnector@0.0.1" data-semver="0.0.1"></script>
    <script src="https://angularclouddataconnector.azurewebsites.net/0.1/azureDataService.js" data-require="AngularCloudDataConnector@0.0.1" data-semver="0.0.1"></script>
    <script>
        var app = angular.module('demoApp', ['DataModule', 'AzureDataModule', 'ui.bootstrap']);
        app.controller('demoController', ['$scope', 'dataService', 'azureDataService',
          function($scope, dataService, azureDataService) {
            $scope.greeting = "Hello Data!";

            $scope.add = function(tableName, entity) {
              dataService.add(tableName, entity, function() {
                $scope.sync();
              }, function() {
                $scope.errorMessage = "Error while creating entity...";
              })
            };
            $scope.sync = function() {
              dataService.add(tableName, entity, function() {
                $scope.sync();
              }, function() {
                $scope.errorMessage = "Error while creating entity...";
              })
            };

            azureDataService.addSource('https://angularpeople.azure-mobile.net/', 'DDJpBYxoQEUznagCnyYNRYfkDxpYyz90', ['people']);
            dataService.addSource(azureDataService);
            dataService.connect(function(results) {
              for (var result in results) {
                $scope.$apply($scope[result] = results[result]);
            }
        });

            $scope.sortField = 'firstname';

            $scope.ascending = [true, true, true];
            $scope.currentColumn = 0;

            $scope.$watch('sortField', function () {
                for (i = 0; i < ascending.length; i++) {
                    $scope.ascending[i] = true;
                }
            });

            $scope.$watch(function() {
              return $scope.sortField + $scope.ascending;
          }, function() {
              if ($scope.ascending[$scope.currentColumn]) {
               $scope.directionalSort = '+'+$scope.sortField;
           } else {
               $scope.directionalSort = '-'+$scope.sortField;
           }
           
       })

        }

        ]);
</script>
</body>
</html>