
.edit input, .add input
{
  margin-top: 5px;
}

.userimage
{
  width: 100px;

}

.no-padding, .main-container, .main-container masonry, .main-container masonry>div
{
  padding: 0px !important;
  offset: 0px !important;
}

.card div
{
  padding: 4px;
  /*margin: 2.5px;*/
  margin: auto;
}

.navbar-brand
{
  margin-top: -3px;
  padding-left: 20px;
}

.navbar-right
{
  padding-right: 5px;
  margin-right: 0px;
}

.navbar
{
  margin-bottom: 10px;
  offset: 0px;
}

.main-container
{
  margin-left: 10px;
  margin-right: 10px;

}

masonry div:only-child
{
  margin: 10px !important;
  offset: 0px !important;
}

.glyphicon-edit:hover {
  -webkit-transition: color 1s;
  transition: color 1s;
  cursor: pointer;
  color: lightblue;
}


.glyphicon-edit {
  -webkit-transition: color 1s;
  transition: color 1s;
  color: black;
  float: right;
  z-index: 2;
}

@keyframes loadinganimation {
  0% {
    background-color: lightblue;
  }

  30% {
    background-color: lightblue;
  }

  50% {
    background-color: blue;
  }

  70% {
    background-color: lightblue;
  }

  100% {
    background-color: lightblue;
  }
}

@-webkit-keyframes loadinganimation /* Safari and Chrome */
{
  0% {
    background-color: lightblue;
  }

  30% {
    background-color: lightblue;
  }

  50% {
    background-color: blue;
  }

  70% {
    background-color: lightblue;
  }

  100% {
    background-color: lightblue;
  }
}

#loadingcontainer {
  display: inline-block;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.loading {
  z-index: 3;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  height: 20px;
  width: 20px;
}

.loading.one {
  left: 37.5%;
  animation: loadinganimation 1s infinite;
  -webkit-animation: loadinganimation 1s infinite; /* Safari and Chrome */
}

.loading.two {
  left: 42.5%;
  animation: loadinganimation 1s infinite;
  -webkit-animation: loadinganimation 1s infinite; /* Safari and Chrome */
  -webkit-animation-delay: .16s; /* Safari and Chrome */
  animation-delay: .16s;
}

.loading.three {
  left: 47.5%;
  animation: loadinganimation 1s infinite;
  -webkit-animation: loadinganimation 1s infinite; /* Safari and Chrome */
  -webkit-animation-delay: .33s; /* Safari and Chrome */
  animation-delay: .33s;
}

.loading.four {
  left: 52.5%;
  animation: loadinganimation 1s infinite;
  -webkit-animation: loadinganimation 1s infinite; /* Safari and Chrome */
  -webkit-animation-delay: .5s; /* Safari and Chrome */
  animation-delay: .5s;
}

.loading.five {
  left: 57.5%;
  animation: loadinganimation 1s infinite;
  -webkit-animation: loadinganimation 1s infinite; /* Safari and Chrome */
  -webkit-animation-delay: .66s; /* Safari and Chrome */
  animation-delay: .66s;
}

.loading.six {
  left: 62.5%;
  animation: loadinganimation 1s infinite;
  -webkit-animation: loadinganimation 1s infinite; /* Safari and Chrome */
  -webkit-animation-delay: .86s; /* Safari and Chrome */
  animation-delay: .86s;
}
